.btn {
    padding: 10px 24px;
    width: fit-content;
    min-width: 56px;
    height: 40px;
    background: #7B61FF;
    border-radius: 8px;
    gap: 10px;
    display: flex;
    border: none;
    color: white;
    font-family: var(--fontPrimary);
    font-size: 14px;
    font-weight: 400;
}

.btn:hover,
.btn:hover svg,
.btn:focus svg,
.btn:focus {
    background: #6243FF;
}

.btn:disabled {
    background: #ACA7C3;
}

.btn_add {
    width: 56px;
    height: 56px;
    background: var(--accentColor);
    outline: none;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 9px 0px #A68DAE47;
    text-decoration: none;
}

.btn_add_label {
    display: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    font-family: var(--fontPrimary);
    color: white;
}

@media screen and (min-width: 768px) {
    .btn_add {
        width: 193px;
        gap: 16px;
    }

    .btn_add_label {
        display: flex;
    }
}

